@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
  overflow-x: hidden;
}

::selection {
  background-color: #d2b48c; /* Tan/Coffee color */
  color: #000;
}
